<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editing Mapping
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
<%= form_tag(mapping_path, method: "put") do %>
  <% @mapping_attribute.keys.each do |key| %>
    <div class="form-group">
      <%= label_tag(key, key + ":") %>
      <%= text_field_tag( key, @mapping_attribute[key]) %>
    </div>
<% end %>
  <%= submit_tag("Update") %>
<% end %>



<%= link_to 'Back', mapping_path %>
</section>
<!-- /.content -->
