
<!-- Content Header (Page header) -->
<section class="content-header">
  <p id="notice"><%= notice %></p>
  <h1>
    Compliance Mapper
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <h2>
    Mappings
  </h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @mappings.each do |mapping| %>
          <tr>
            <td><%= mapping['name'] %></td>
            <td><%= link_to 'Show', mapping_path(mapping['name']) %></td>
            <td><%= link_to 'Destroy', mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'New Mapping', new_mapping_path %>
  <%= form_tag(upload_mapping_path, multipart: true, :html => {class: 'form-control'}) do %>
      <div class="input-group">
        <%= label_tag :file, "Upload Mapping", :class => "menu-text" %>
        <%= file_field_tag :file, :class => "menu-text" %>
      </div>
      <br>
      <div class="actions">
        <%= submit_tag 'Upload', :class => "btn btn-info" %>
      </div>
  <% end %>
</section>
<!-- /.content -->
